*,
*::before,
*::after {
    box-sizing: border-box;
}

/* ---------------- */
/* custom properties */
/* ---------------- */

:root {
    /* font families */
    --ff-primary: 'DM Sans', sans-serif;
    --ff-secondary: 'Ubuntu Mono', monospace;

    /* font weights */
    --fw-reg: 400;
    --fw-bold: 700;

    /* font-size */
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    /* colors */
    --clr-light: #fff;
    --clr-dark: #070d07;
    --clr-accent: #cfefcb;
}

@media (min-width: 800px) {
    :root {
    /* font-sizes for bigger screens */
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
    }
}

/* ---------------- */
/* General Styles */
/* ---------------- */

 body {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    line-height: 1.6;
 }

 section {
    padding: 5em 2em;
 }

 img {
    display: block;
    max-width: 100%;
 }

 /* Typography */

 h1,
 h2,
 h3 {
    line-height: 1.1;
    margin: 0;
 }

 h1 {
    font-size: var(--fs-h1);
 }

 h2 {
    font-size: var(--fs-h2);
 }

 h3 {
    font-size: var(--fs-h3);
 }

 .sectionTitle {
    margin-bottom: .25em;
 }

 .sectionTitleIntro {
    font-weight: var(--fw-reg);
 }

 .sectionTitleIntro strong {
    display: block;
 }

 .sectionSubtitle {
    margin: 0;
    font-size: var(--fs-h3);
 }

 .sectionSubtitleIntro {
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 2em;
}

/* Header Styles */

header {
    display: none;
}

/* Introduction Styles */

.intro {
    position: relative;
}

@media (min-width: 600px) {
    
    .introImg {
        grid-area: img;
        min-width: 250px;
    }

    .intro .sectionTitleIntro {
        grid-area: title;
    }

    .intro .sectionSubtitleIntro {
        grid-area: subtitle;
    }

    .intro {
        margin: 0 auto;
        width: min-content;
        display: grid;
        column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }


}